<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.developCall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="READ_PHONE_NUMBERS" />
    <uses-permission android:name="com.android.launcher3.permission.RECEIVE_LAUNCH_BROADCASTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".AmplifyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MemoActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar"/>
        <activity
            android:name=".MemoMenuActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".EmailConfirmationActivity" />
        <activity android:name=".AssignActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AssginCompleteActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ChatActivity" />
        <activity
            android:name=".Alarm.Alarm_CalendarPopUp"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Alarm.Alarm_CyclePopUp"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Alarm.Alarm_TimePopUp"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Calendar.AddPopUpActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Calendar.ListPopUpActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Alarm.Alarm_AddList" />

        <activity
            android:name=".CalendarPopUpActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".CalendarMenuActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <activity android:name=".FriendPopUp"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar"/>

        <activity android:name=".FriendMultiPopUp"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar"/>


        <receiver android:name=".Alarm.Alarm_Receiver" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <receiver
            android:name=".Function.CallReceiver2"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Function.S3uploadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Alarm.Alarm_PlayingService"
            android:enabled="true" />
    </application>

</manifest>